@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{ 
  font-family: "Roboto Condensed", serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgba(159, 206, 224, 0.57);
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center; 
}

.container{
  width: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1) ;
}

.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
  overflow: hidden;
} 

.Cityname{
  flex: 1;
  height: 30px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
} 

.search-icon{
  padding: 10px;
  height: 30px;
  cursor: pointer;
}

.search-icon img{
  object-fit: contain;
  margin-top: auto;
}

.image{
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
}

.image img{
  width: 160px;
  height: 160px;
}

.temp, .location ,.country{
  margin-top: 5px;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center ;
}
.temp{
  font-weight: 500;
}
.location{
  font-size: 40px;
  font-weight: 400;
  color: rgb(241, 205, 0);
}
.country{
  font-size: 18px;
  color: #888;
  font-weight: 400;
}

.cord{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     margin-top: 10px;
     text-align: center;
}
.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cord div span{
  font-size: 14px;
}

.humidity-percent,.wind-percent,.cord div span:nth-child(2){
  font-size: 18px;
  font-weight: bold;
  color: #666;
  padding-top: 5px;
}

.data-container{
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}
.element{
  text-align: center;
}
.text{
  font-size: 12px;
  color:#888 ;
}

.copyright{
  text-align: center;
  font-size: 12px;
  color: #888;
}
.copyright span{
  color: #333;
}

.city-not-found,.loading-message,.error-nessage{
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;

}